
@media only screen and (min-width: 730px) {
  .lf-book-info-holder {
    width: 100%;
    height: 335px;
    margin-left: -15px;
    padding-right: 20px;
    padding-left: 0px;
    background-color: #fbcdff;
    border: none;
    background-size: 100% auto;
    background-position: 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    border-radius: 0 20px 20px 0;
  }

  .lf-book-info-overlay {
    width: calc(100% + 60px);
    width: -webkit-calc(100% + 60px);
    width: -moz-calc(100% + 60px);
    width: -ms-calc(100% + 60px);
    width: -o-calc(100% + 60px);
    height: 350px;
    position: static;
    margin-bottom: 85px;
    background-color: rgba(255, 255, 255, 0.9);
    background-image: url(http://livrofilia.github.io/img/logo/400x180/livrofilia-logo-400x180-alt-2.png);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: 90% 95%;
  }

 .lf-book-info-cover {
  width: 240px;
  max-width: 100%;
  height: 100%;
  border-right: 1px solid #e3e3e3;
  display: -webkit-inline-box;
  overflow: hidden;
  margin-bottom: 100px;
}

  .lf-book-info-info {
    display: -webkit-inline-box;
    width: 400px;
    max-width: 100%;
    height: auto;
    margin-left: -5px;
  }

  .lf-book-info-info ul {
    list-style: none;
    margin-left: 0;
    margin-top: 20px;
    line-height: 18px;
    position: absolute;
    left: 540px;
  }
}

@media only screen and (max-width: 729px) {
  .lf-book-info-holder {
    width: 100%;
    height: auto;
    margin-left: -10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    background: #feffe8 !important;
  }

.lf-book-info-cover {
  width: 160px;
  max-width: 100%;
  height: 100%;
  border-right: 1px solid #e3e3e3;
  display: -webkit-inline-box;
  overflow: hidden;
}

  .lf-book-info-info {
    display: -webkit-inline-box;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-left: -5px;
    line-height: 18px;
  }

  .lf-book-info-info ul {
    list-style: none;
  }

  .lf-book-info-overlay {
    display: none;
  }
}




.lf-book-info-cover img {
  width: 100%;
  height: auto;
  min-height: 100%;
  min-width: 240px;
  margin: 0px;
}

.lf-book-info-info ul li {
  margin-left: -40px;
  margin-bottom: 5px;
  list-style: none;
}

.lf-book-info-info .author {
  margin-left: 65px;
}
